<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
            <div class="gradient">    

        {{>header}}
            <p>This is created by Jay Harkhani. It uses data from mapbox.xom and darksky.net</p>
            <img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2018/1-whytheweathe.jpg" alt="Image Not Loading" height="325" width="600">
        {{>footer}}
                <script src="/js/style.js"></script>

                <script src="/js/app.js"></script>
    </div>
    </body>
</html>