<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
            <div class="gradient">    

        {{>faultheader}}
       
        {{>faultfooter}}
                <script src="/js/style.js"></script>

                <script src="/js/app.js"></script>
    </div>
    
    </body>
</html>