<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
            <div class="gradient">    

         {{>header}}
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quisquam corporis repellat eaque quam consequuntur, saepe vero distinctio laboriosam aliquam numquam, tenetur voluptatibus tempore incidunt doloremque quis maxime magnam esse.</p>
        {{>footer}}
                        <script src="/js/style.js"></script>

                <script src="/js/app.js"></script>
    </div>
    </body>
</html>